@charset "utf-8";

// Colors
$orange: #DD671A;

// Set placeholder contrast to ~4.5:1 for WCAG AA compliance
$input-placeholder-color: #757575;
$input-disabled-placeholder-color: #707070;
.input::placeholder, .textarea::placeholder, .select select::placeholder {
    opacity: 1;
}

@import "node_modules/bulma/bulma";

// focus/hover styles for buttons
.button.is-link:focus, .button.is-link:hover {
  background-color: $orange;
}

:host {
  font-size: $body-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: $body-min-width;
  overflow-x: $body-overflow-x;
  overflow-y: $body-overflow-y;
  text-rendering: $body-rendering;
  text-size-adjust: 100%;

  font-family: $body-family;
  color: $body-color;
  font-size: $body-font-size;
  font-weight: $body-weight;
  line-height: $body-line-height;

  box-sizing: border-box;
  overflow: hidden;
}
